.signupWrapper {
    display: flex;
    justify-content: center;
}

.signupCard {
    width: 27vw;
    margin : 5%;
}

.instaLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}

.instaLogo img {
    width: 15vw;
}

@media only screen and (max-width: 620px) {
    .signupCard {
        width: 60%;
    }
    .instaLogo img{
        width: 35%;
    }
}